{% extends 'base.html' %}


{% block content %}
    <form>
        <div class="row">
            <div class="col">
                <textarea name="chat_message" class="form-control" rows="5"></textarea>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-auto">
                <button type="button" class="btn btn-secondary" hx-post="{% url "core:agent_chat" %}"
                        hx-target="#div_id_chat_messages" hx-indicator=".htmx-indicator"><span
                        class="bi bi-check me-2"></span>Submit
                </button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-secondary" hx-post="{% url "core:clear_chat" %}"
                        hx-target="#div_id_agent_chat_container" hx-indicator=".htmx-indicator"><span
                        class="bi bi-check me-2"></span>Clear
                </button>
            </div>
            <div class="col">
                <div id="htmx_indicator_dataset_files_list" class="htmx-indicator d-flex align-items-center ms-2">
                    <div class="spinner-border spinner-border-sm text-secondary sm-indicator" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {% include "core/partials/agent_chat_container.html" %}
{% endblock %}