
{% partialdef new-items %}
    <hx-partial hx-target="#div_id_list_todo_items_{{ todo_list.pk }}">
        {% for item in todo_items %}
            <li>{{ item.description }}</li>
        {% endfor %}
    </hx-partial>
{% endpartialdef %}

<div hx-get="{% url 'core:list_todo_lists' %}" hx-trigger="update_todo_lists from:body" hx-target="#todo-lists-container">
{% if todo_lists %}
    {% for todo_list in todo_lists %}
        <div class="card mt-2">
            <div class="card-header">
                <h2>{{ todo_list.title }}</h2>
            </div>
            <div class="overflow-auto" style="max-height: 300px;">
                <div class="card-text">
                    <p>{{ todo_list.description }}</p>
                </div>
                <ul id="div_id_list_todo_items_{{ todo_list.pk }}">
                    {% if todo_list.todo_items.count > 0 %}
                        {% for item in todo_list.todo_items.all %}
                            <li>{{ item.description }}</li>
                        {% endfor %}
                    {% else %}
                        <p>No items, would you like to generate some <button type="button" class="ms-2 btn btn-primary"
                                                                             hx-target="#div_id_list_todo_items"
                                                                             hx-post="{% url "core:generate_todo_items" todo_list.pk %}"><span class="bi bi-check-square"></span> Generate Todo Items</button> </p>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endfor %}
{% else %}
  <p>No todo lists available.</p>
{% endif %}
</div>